:root{
  --dark: #213745;
  --neut: #805E73;
  --light: #FFEBEE ;
  --extra: #87BCDE ;
  --dark2: #333947;
  --neut2: #866DC5;
  --light2: #FCFCED ;
  --lbet2: #D2C9E3;
  --extra2: #C5DCA0 ;
  --betw2: #E1ECC7;
  --w: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--betw2);
  color: var(--dark2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
ul {
  list-style: none;
}
.container{
  width: 70vw;
  margin: auto;
    margin-top: 1vh;
}
h1{
  display: flex;
  margin: auto;
  color: white;
  justify-content: center;
}
#manager-form {
  background-color: var(--dark2);
    padding: 3vh 5vw 5vh 5vw;
}
#manager-form input[type='text']{
  display: block;
  width: 50vw;
  height: 30px;
  color: var(--dark2);
  padding: 8px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  box-sizing: border-box;
}
.btn {
  display: block;
  width: 10vw;
  height: 30px;
  border: 0;
  background: var(--light2);
  color: var(--neut2);
  border-radius: 0px 5px 5px 0px;
  box-sizing: border-box;
}
.btn:hover{
  background: var(--extra2);
}
.btn-small{
  display: block;
  width: 20px;
  height: 20px;
  border: 0;
  background:  var(--extra2);
  color: var(--light2);
  font-weight: bold;
  border-radius: 5px;
  margin-right: 8px;
  box-sizing: border-box;
  text-decoration: none;
}
.bitches{
  display: flex;
  align-items: center;
}
.error {
  background: orangered;
  color: #fff;
  padding: 5px;
  margin: 5px;
}
#task-list li{
  padding: 5px 8px;
  display: flex;
  align-items: center;
justify-content: space-between;
}
#task-list li:hover{
  background: var(--lbet2);
}
#delete{
  background: none;
  border: none;
  color:var(--neut2);
}
 .current {
  background: var(--light2);
  color: var(--neut2);
}

.done {
 background: var(--extra2);
 color: var(--neut2);

}
.struck{
  text-decoration: line-through;
}
